html{
    font-family: sans-serif;
    
    margin: 0 auto;
}
body{
    margin: 0;
}
header{
    background-color: #171717;
    min-height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media (max-width:500px) {
    header{
        flex-direction: column;
    }
    .padding-bottom{
        padding-bottom: 10px;
    }
}
.padding-rigth{
    padding-right: 10px;
}
.padding-rigth a{
    padding-left: 10px;
}
.logo {
    display: flex;
    align-items: center;
}
.logo-img {
    padding-right: 10px;
}
a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 900;
    transition: all 0.4s ease;
}
a:hover{
    color: #3d3d3d;
}
@media (min-width:500px) {
    .aboutme {
        display: flex;
        max-width: 100%;
        height: 470px;
        padding: 30px 30px;
    }
    .aboutme-img img{
        max-width: 370px;
    }
    .aboutme-img{
        max-width: 50%;
    }
    .aboutme-p{
        max-width: 50%;
        max-height: 300px;
        padding-left: 20px;
    }
}
.aboutme p {
    text-align: justify;
    padding: 0 20px;
}
/* Aqui voy */
#portafolio {
    background-color: #171717;
    color: #ffffff;
    height: 99%;
}
#portafolio h2 {
    text-align: center;
    padding-top: 10px;
}
.card {
    width: 50%;
    min-height: 33%;
    border: 3px solid #ffffff ;
    margin: 20px auto;
    border-radius: 10px;
    transition: all 0.4s ease;
}
.card:hover {
    box-shadow: 5px 5px #3d3d3d;
    background-color: rgba(0,0,0,0.4);
}
.card h2 {
    text-align: center;
    max-width: 100%;

}
.card p {
    text-align: justify;
    padding: 0 10px;
    max-width: 100%;
}
.bottom {
    margin-bottom: 10px;
}
@media (min-width:500px) {
    #portafolio {
        width: 100%;
    }
    .contenedor{
        width: 100%;
        display: flex;
        padding-bottom:10px;
    }
    .contenedor a {
        width: 33%;
    }
    .card {
        width: 95%;
        max-width: 300px;
        height: 90%;
        max-height: 480px;
    }
}
footer {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.derecha {
    padding-right: 20px;
}
.izquierda {
    padding-left: 20px;
}
.izquierda p{
    font-weight: 600;
}
.derecha a {
    padding-left: 10px;
}
